/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

/*    #layout{
        -fx-background-color: pink;
    }*/
    .button {
    -fx-font-size: 20px;
    -fx-background-color: brown;
    -fx-padding: 5 5 5 5;
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}
}